<section class="scheme">
    <div class="scheme__svg-wrapper">
        <svgicon
            name="scheme"
            width="532"
            height="642"
            :original="true"
        ></svgicon>
    </div>
    <div class="scheme__popups">
        <div class="popups-list">
            <ul class="popups-list__inner ul--clear">
                <li id="popup-01" class="popups-list__item">
                    <svgicon
                        name="hover"
                        width="317"
                        height="205"
                        :original="true"
                    ></svgicon>
                </li>
                <li id="popup-02" class="popups-list__item">
                    <svgicon
                        name="hover"
                        width="317"
                        height="205"
                        :original="true"
                    ></svgicon>
                </li>
                <li id="popup-03" class="popups-list__item">
                    <svgicon
                        name="hover"
                        width="317"
                        height="205"
                        :original="true"
                    ></svgicon>
                </li>
                <li id="popup-04" class="popups-list__item">
                    <svgicon
                        name="hover"
                        width="317"
                        height="205"
                        :original="true"
                    ></svgicon>
                </li>
                <li id="popup-05" class="popups-list__item">
                    <svgicon
                        name="hover"
                        width="317"
                        height="205"
                        :original="true"
                    ></svgicon>
                </li>
                <li id="popup-06" class="popups-list__item">
                    <svgicon
                        name="hover"
                        width="317"
                        height="205"
                        :original="true"
                    ></svgicon>
                </li>
            </ul>
        </div>
    </div>
</section>